html, body {
    height: 100%;
    margin: 0;
}

table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
}

.form-check-input {
    margin: 0;
}

* {
    white-space: nowrap;
}
.hidden {
    display: none !important;
}

.black {
    color: rgb(0, 0, 0)
}

.sixth,
.sixth > div {                
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
body {
    background-image: linear-gradient(to right, rgb(46, 42, 42), rgb(33, 33, 59));
}
.grid {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
}
.left {
    display: none;
}

.top {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}


[class |= "bubble"] {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    position: relative;
}
.bubble-menu {
    height: 70%;
    margin: 0 5px 0 10px;
}
.bubble-menu:hover {
    background-color: rgb(92, 92, 92);
    transition-duration: 0.2s;
}
.bubble-user {
    margin: 0 2% 0 auto;
    width: 40px; 
}
.bubble-sender {
    background-color: rgb(11, 68, 90);
    height: 80%;
    flex: 0 0 auto;
}  


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


td:has(.bubble-sender) {
    justify-content: flex-start;
}

.search_bar > input {
    width: 80%;
    background-color: inherit;
    border: none;
    outline: none;
}
.search_bar > i {
    margin: 0 10px;
}

tr {
    display: flex;
    margin: 0 15px 22px 15px;
    gap: 10px
}
td {
    display: flex;
    height: 55px;
    align-items: flex-start;
    border: none;
}

.sixth {
    flex: 1 1 auto;
    align-content: flex-start;
    flex-wrap: wrap;
}
.menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-size: small;
    white-space: nowrap;
    align-items: center;
}
.sixth > div {
    width: 100%;
    position: relative;
    text-align: start;
}
.dark {
    color: rgb(148, 148, 148);
}
.light {
    color: rgb(218, 209, 209)
}
.p {
    margin: 20px 0 20px 15px;
}
.search_bar {
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    border-radius: 30px;
    margin: 15px 15px 0 15px;
    margin-bottom: 0px
}
.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70%;
    max-width: 240px;
    border-radius: 0 20px 20px 0;
    background-color: rgb(42, 49, 80);
    box-shadow: 0 0 2px black inset;
}
.topbar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}
.topbar > div {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}
.topbar i {
    margin: 0 4px;
}
.search_bar {
    background-image: linear-gradient(to right, rgb(60, 60, 60), rgb(33, 33, 59));
    box-shadow: 0 0 10px 4px rgba(49, 49, 49, 0.438);
}
.search_bar:has(input:focus) {
    background-image: linear-gradient(to right, rgb(61, 61, 61), rgb(44, 44, 82));
}

@media screen and (max-width: 768px) {
    .no-mobile {
        display: none;
    }
    .sixth > div {
        font-size: small;
        margin-top: -2px;
    }
    .topbar {
        margin: 0 15px;
    }
} 


 @media screen and (min-width: 768px) {
    .no-desktop {
        display: none;
    }
    .search_bar {
        width: 50%;
        min-width: 400px;
        height: 44px;
        border-radius: 20px;
        margin: 5px 0;
    }
    .basic {
        display: flex;
        flex: 1 1 0px;
        align-items: center;
        height: 100%;
    }    
    .basic > h4 {
        margin: 0;
    }
    .user {
        position: relative;
        flex: 1 1 0px;
    }
    .grid {
        display: grid;
        min-height: 100%;
        grid-template-columns: 20% auto;
        grid-template-rows: auto 1fr;
    }
    .hidden-sidebar {
        grid-template-columns: 100%;
    }
    .right {
        overflow: hidden;
    }
    .left {
        display: block;
        background-color: rgba(0, 0, 0, 0.1);
    }
    .box {
        text-align: center;
        border: 1px solid rgb(94, 90, 90);
        background-color: rgb(59, 59, 59);
    }
    .main {
        height: 100%;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
    }
    td {
        height: 40px;
        border-top: 1px solid rgb(54, 54, 54);
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
    }
    tr {
        display: flex;
        overflow: hidden;
        position: relative;
        gap: 0px;
        margin: 0px;
    }

    .menu {
        justify-content: center;
        align-items: center;
    }
    .menu > div {
        color: black;
        font-size: initial;
    }
    .top {
        height: 100%
    }
    .sixth {
        flex: 50 1 450px;
        justify-content: flex-start;
        align-content: center;
    }
    
    .bubble {
        height: 70%;
        aspect-ratio: 1 / 1;
        margin: 0 5px 0 10px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
    }
    .bubble:hover {
        background-color: rgb(92, 92, 92);
        transition-duration: 0.2s;
    }

    .basic {
        display: flex;
        flex: 1 1 0px;
        align-items: center;
        height: 100%;
    }    
     Designs and Animations 
    .hover:hover {
        box-shadow: 0px 13px 20px -10px rgb(34, 34, 34);
        transition-duration: 0.1s;     
    }

    /* For all tr's and their adjacent sibling(tr's) except the last one */
    .hover:not(:last-child):hover > td,
    .hover:not(:last-child):hover + tr > td {
        border-top: 1px solid rgb(39, 39, 39);
        transition-duration: 0.1s;
    }

    /* For last tr, permanent style and both transitions  */
    .hover:last-child {
        border-bottom: 1px solid rgb(54, 54, 54);
    }
    .hover:last-child:hover {
        border-bottom: 1px solid rgb(39, 39, 39);
    }
    .hover:last-child:hover > td {
        border-top: 1px solid rgb(39, 39, 39);
        transition-duration: 0.1s;
    }
    .main:hover {
        background-color: rgba(0, 0, 0, 0.1);
        transition-duration: 0.1s;
    }

    .selection {
        box-shadow: 0 8px 10px -3px rgba(21, 77, 151, 0.5), 0 -8px 10px -3px rgba(21, 77, 151, 0.5) !important;
        background-color: rgb(67, 102, 155);
        transform: scale(0.99, 0.99)
    }

    .rotation, .rotation2 {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;        
        overflow: hidden;    
        border-radius: 50%;   
    }

    .rotation2:hover {
        border-top: 3px solid black;
        animation: orbit 0.5s, dissolve 0.3s linear 0.5s;
        animation-fill-mode: forwards;
    }

    .rotation2:hover .dot2 {
        opacity: 0;
        position: absolute;
        width: 5px;
        height: 5px;
        top: 0px;
        left: 0; 
        right: 0;
        background-color: black;
        border-radius: 50%;
        margin: 0 auto;
        animation: scale 0.3s linear 0.5s;
        animation-fill-mode: forwards;
    }

    .rotation:hover {        
        animation: orbit 0.5s; 
    }
    .rotation:hover .dot {
        display: block;
    }

    .dot {
        display: none;
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: black;
        border-radius: 50%;
        top: 0px;
        right: 0px;
        left: 0px;
        margin: 1px auto;
        animation: scale 0.3s linear 0.5s;
        animation-fill-mode: forwards;
    }

    .side:hover::before {
        content: "";
        width: 20%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(3, 3, 3, 0.2);
        border-radius: 40px 0 0 40px;
        animation: waiting 1s ease-in-out infinite
    }
    .delete {
        animation: delete 0.1s linear 0.21s;
        animation-fill-mode: forwards;
        overflow: hidden;
    }
    .delete::before {
        content: "";
        width: 5px;
        height: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto 10px;
        background-color: rgba(3, 3, 3, 0.2);
        animation: grow 0.3s linear;
        border-radius: 50%;
    }
    @keyframes delete {
        0% {
            left: 0%;
        }
        100% {
            left: 100%;
            display: none;
        }
    }

    @keyframes waiting {
        50% {width: 30%}
        100% {width: 20%}
    }

    @keyframes grow {
        70% {transform: scale(500, 40);}
        100% {transform: scale(0, 0);}
    }

    @keyframes orbit {
        to {transform: rotate(360deg);}
    }
    @keyframes dissolve {
        to {border: 0}
    }
    @keyframes scale {
        0% {opacity: 1;}
        70% {transform: scale(14, 14); opacity: 1;}
        100% {transform: scale(0, 0); opacity: 1;}
    }
} 