{% extends "login.html" %}

{% block title %}
    Register
{% endblock %}

{% block container %}
    <h2 class="light">Register</h2>
    <form action="/register" method="post">
        <div class="inputcontainer">
            <p>Username</p>
            <input class="light" autocomplete="off" type="text" name="name" placeholder="Type your username" required> <br>
            <p>Password</p>
            <input class="light" autocomplete="off" id="password" type="password" name="pass" placeholder="Type your password"> <br>
            <p>Confirm</p>
            <input class="light" id="con_password" autocomplete="off" type="password" name="con_pass" placeholder="Confirm Passwrod"> <br>
            <p class="xcenter" id="par"></p> <br>
            <button id="btn" type="submit" class="custom_button" disabled>Register</button>
        </div>
    </form>
    <p class="xcenter mb-3">Or Login In Using <br><a href="/login">Login</a></p>
{% endblock %}

{% block uniquescript %}
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            checker("password", "par")
            checker("con_password", "par")
            disabler("btn", "password", "con_password")
        });
    </script>
{% endblock %}